.work-parent{
    width: 30vw;
    border: 1px solid rgba(243, 217, 217,.5);
    height: 100vh;
    border-radius:25px;
    background-color: rgba(243, 217, 217,.5);
    overflow-y: scroll;
    overflow-x:hidden;
}

#work-header{
    color: #D09292;
    font-weight: 400;
    font-size: 48px;
    position: relative;
    left: 25%;
    top: -20px;
}
.projects{
    border: 1px solid #FC6F6F;
    border-radius: 25px;
    margin: 20px;
    background-color: #FFFFFF28;
    padding: 5px;
}

.projects #title,#desc{
    color: #D09292;
}

#external-link>a{
    font-style: none;
    color: rgb(203, 82, 48);
    text-decoration: none;
    margin: 5px;
}